.cards{
    border-radius: 15px;
    background: rgba(43, 98, 201, 0.06);
    width:330px;
    height:350px;
    box-sizing:border-box;
    border-radius: 15px;
    box-shadow: 0  4px 4px 2px rgba(25, 25, 25, .1);
    padding: 20px;

}
.cards-wrapper{
padding-top: 90px;
}


.cards i {
    border-radius: 50%;
    font-size: 24px;
    padding: 15px;
    height: 70px;
    width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-bottom: 25px;
    color: #fff;
  
}

.handsIcon {
    background-image: linear-gradient(180deg, #24EEFC 0%, #236DFC 180%);
    box-shadow: 0px 15px 30px 0px rgba(16, 0, 101, 0.08);
}

.codeIcon {
    background-image: linear-gradient(180deg, #E08BFC 0%, #7357FB 180%);
    box-shadow: 0px 15px 30px 0px rgba(101, 0, 0, 0.08);
}

.puzzelIcon {
    background-image: linear-gradient(180deg, #FF6167 0%, #FF0E27 180%);
    box-shadow: 0px 15px 30px 0px rgba(101, 0, 0, 0.08);
}

.lightIcon {
    background-image: linear-gradient(180deg, #00AEEF 0%, #0F5EC9 180%);
    box-shadow: 0px 15px 30px 0px rgba(0, 14, 101, 0.08);
}

.powerIcon {
    background-image: linear-gradient(180deg, #00E31D 0%, #00C0CE 180%);
    box-shadow: 0px 15px 30px 0px rgba(0, 101, 6, 0.08);
}

.cogIcon {
    background-image: linear-gradient(180deg, #FAE000 0%, #F2557A 180%);
    box-shadow: 0px 15px 30px 0px rgba(101, 76, 0, 0.08);
}



