.info{
    border-radius: 50%;
    width:120px;
    height:120px;
    
}
.total{
    margin-top: 15px;
    font-size: 50px;
}
.desc{

    margin: 60px ;
    justify-content: space-between;
    text-align: center;
    
}
