.blog-card {
  height: auto;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 2px 4px 2px rgba(25, 25, 25, 0.1);
  margin-left: 10px;
}

.blog-img {
  width: 100%;
  background-size: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.blog-image {
  position: relative;
  overflow: hidden;
}

.blog-image::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: attr(data-category);
  padding: 12px 20px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  box-sizing: border-box;
  border-top-right-radius: 22px;
}

.blogIcon {
  margin-left: 14px;
  margin-right: 5px;
  color: #ddd;
}

.list-inline-item {
  color: #8a8a8a;
}
