.card4 {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  box-shadow: 0 16px 32px -12px rgba(13, 0, 56, 0.1);
  background-color: #fff;
}

.card_img4 {
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 30px;
}
.img4 {
  width: 120px;
  border-radius: 50%;
}
.card-title {
  font-size: 28px;
}
.paragraph1 {
  margin: 40px 20px;
  line-height: 16px;
}
.card-list {
  list-style: none;
  padding: 0;
}
.card-list li {
  padding: 14px 0;
  opacity: 0.6;
}
.card-list li:not(:last-child) {
  border-bottom: 1px solid rgba(13, 0, 56, 0.1);
}
.newPrice4 {
  color: #000;
  margin-bottom: 6px;
  font-size: 48px;
  font-weight: bold;
}

.newPrice4::first-letter {
  font-size: 24px;
}
