.blog {
  border-radius: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0;
  box-shadow: 0 16px 32px -12px rgba(13, 0, 56, 0.1);
}

.photos {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: content-box;
}
.img-gal {
  background: #000;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img-gal img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  transform: scale(1.3);
  transition: transform 1.6s;
  cursor: pointer;
}

.img-gal img:hover {
  transform: scale(1.5);
}
.Group {
  display: inline-block;
}
.date {
  padding-top: 15px;
  padding-bottom: 15px;
  color: red;
}
.card-title {
  margin-bottom: 20px;
}
.card-text {
  line-height: 1.6;
}
.card-text:last-child {
  margin-bottom: 16px;
}
